body{
    margin: 0px;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

    
}

.top{
    margin: 10% 38%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding-top: 21px;
    padding-bottom: 24px;
}
     


img{
    width: 89%;
    border-radius: 13px;
    
}

.Font-Heading{
    font-size: 1.5rem;
    font-weight: 700;
    width: 71%;
    margin: 20px auto;
}
.Font-Body{
    width: 73%;
    margin: 10px auto;
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
}